

/* -----------------------
     Responsive Tablet
-------------------------*/
.container{
    width: 100%;
    max-width: 1140px;
}


/*------------------------
     Responsive Mobile
--------------------------*/

@media screen and (max-width:576px){
   
    .row{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .row .col{
        width: 100%;
    }
    
    .lessons{
        padding-bottom: 3em;
    }

    .steps {
       padding: 3em 0;
       margin: 0;
    }

    .why-us {
        background-color: black;
        padding: 3em 0;
        margin-bottom: 0;
    }
}

/*--------------------------------------------------
  Vorrei, per favore, avere un feed-back dei sbagli
  che probabilmente ho fatto in questo esercizio!
  Grazie al tutor!
  ------------------------------------------------*/